<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="footer">
        <footer class="footer">
            <p style="margin-left: 5px">&copy; University of Auckland</p>
        </footer>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <!--script src="../../assets/js/ie10-viewport-bug-workaround.js"></script-->
        <script type="text/javascript">
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </div>
</body>
</html>