<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header(name)" id='header'>
    <div class="uoa-header-content">
        <a href="/">
            <img alt="UoA" src="https://iam.auckland.ac.nz/static/7wjBIGzZfYiiBJ9LBDmme95ZVv9LqSFXfCSS35S9yto.jpg" data-aui-responsive-header-index="0"/>
        </a>
        <form id="uoa-header-right-column">
            <div class="input greeting">
                <span th:text="'Hello, ' + ${name} + '!'"></span>
            </div>
            <div class="input control button">
                <a href="/" class="btn-small btn-warning" style="padding-left: 2px;padding-right: 2px;">Help</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>