.container {
    max-width: 750px;
    margin-top: 48px;
}

.footer {
    margin: 24px auto;
    padding-top: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    max-width: 1055px;
}

.margin-top-l {
    margin-top: 32px;
}

.margin-bottom-s {
    margin-bottom: 8px !important;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
  font-weight: normal;
}

.texthighlight {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.urlhighlight {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.jumbotron p {
    font-size: 18px;
}

h2.media-heading {
    margin-bottom: 30px;
}

#header {
    max-width: 1055px;
    margin: auto;
    padding: 14px;
    background-image: url(https://iam.auckland.ac.nz/static/82Kppr4O6Jp7ncyFnC6PZfOINFnty6JFXTr1CNIincN.png);
}

.swagger-ui-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 906px;
}

#api_selector {
    float: right;
}

#api_selector > div.input {
    margin-top: 35px;
    float: left;
}

#api_selector > div.greeting {
    color: #fff;
}

#api_selector > div.control {
    margin-left: 20px;
}

#api_selector > div.button {
    width: 63px;
}

.media-left > i.fa {
    font-size: 15em;
}

.btn-warning {
    color: #000;
    background: #ffffff;
    margin: 2px 13px;
    text-align: center;
    display: inline-block;
    /*cursor: default;*/
    border: 1px solid #00467f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-warning:focus, .btn-warning:hover {
    background: #009ac7;
    color: #ffffff;
    border-color:  #000;
}

.btn-success {
    color: #fff;
    background: #00467f;
    margin: 2px 13px;
    text-align: center;
    display: inline-block;
    /*cursor: default;*/
    border: 1px solid #00467f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-success:focus, .btn-success:hover {
    background: #009ac7;
    color: #ffffff;
    border-color:  #000;
}
.jumbotron img {
    display: block;
    max-width: 100%;
    height: auto;
}
.scopes-header{
    color: #00467f;
}
