@font-face {
    font-family: "NationalBold";
    src: url(https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/fonts/NationalWeb-Bold.woff2) format("truetype");
}

@font-face {
    font-family: "NationalBook";
    src: url(https://cdn.auckland.ac.nz/designs/uoa-digital/clientlibs/css/fonts/NationalWeb-Book.woff2) format("truetype");
}

body {
    background: #fafafa;
    font-size: 16px;
}
.container{
    margin-top: 48px;
    font-family: 'NationalBook', sans-serif;
    line-height: 1.5;
    color: #4a4c4c;
}
.uoa-container {
    max-width: 750px;
}

.uoa-container-large {
    max-width: 900px;
}

.auth-panel {
    border: 1px solid #c9d3dd;
    font-size: 1.2em;
}

.auth-panel h2{
    font-family: 'NationalBold', sans-serif;
    margin-bottom: 1.5em;
    color: #00467f;
    font-size: 1.6em;
}
.auth-panel .form-control{
    font-size: 0.8em;
}

/* yeah, dont know why its misaligned... */
.auth-panel input[type=checkbox] {
    margin-top: 0.5em;
}
/* styling other panels */
.panel .panel-heading {
    font-size: 1.2em;
}
.panel .panel-heading .panel-title{
    font-size: inherit;
}

.panel-heading-collapsible a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading-collapsible a.collapsed:after {
    content:"\e080";
}
.footer {
    margin: 24px auto;
    padding-top: 10px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    max-width: 1055px;
}

.margin-top-l {
    margin-top: 32px;
}

.margin-bottom-s {
    margin-bottom: 8px !important;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
  font-weight: normal;
}

.texthighlight {
    padding: 2px 4px;
    font-size: 1.1em;
    color: #c7254e;
    font-weight: bold;
    /*background-color: #f9f2f4;
    border-radius: 4px;*/
}

.urlhighlight {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.jumbotron p {
    font-size: 1.1em;
    text-align:justify
}

h2.media-heading {
    margin-bottom: 30px;
}

#header {
    max-width: 1055px;
    margin: auto;
    padding: 14px;
    background-image: url(https://iam.auckland.ac.nz/static/82Kppr4O6Jp7ncyFnC6PZfOINFnty6JFXTr1CNIincN.png);
}

.uoa-header-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 906px;
}

#uoa-header-right-column {
    float: right;
}

#uoa-header-right-column > div.input {
    margin-top: 35px;
    float: left;
}

#uoa-header-right-column > div.greeting {
    color: #fff;
}

#uoa-header-right-column > div.control {
    margin-left: 20px;
}

#uoa-header-right-column > div.button {
    width: 63px;
}

/* size of the error images */
.media-left > i.fa {
    font-size: 8em;
}

.btn{
    font-size: 1em;
}
.btn-warning {
    color: #000;
    background: #ffffff;
    margin: 2px 13px;
    text-align: center;
    display: inline-block;
    /*cursor: default;*/
    border: 1px solid #00467f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-warning:focus, .btn-warning:hover {
    background: #009ac7;
    color: #ffffff;
    border-color:  #000;
}

.btn-allow {
    color: #fff;
    background: #00467f;
    margin: 2px 13px;
    text-align: center;
    display: inline-block;
    /*cursor: default;*/
    border: 1px solid #00467f;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.btn-allow:focus, .btn-allow:hover {
    background: #009ac7;
    color: #ffffff;
    border-color:  #000;
}
.jumbotron img {
    display: block;
    max-width: 100%;
    height: auto;
}
.scopes-header{
    color: #00467f;
    font-size: 1.3em;
}

.title-with-hint span {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}
