.container {
    max-width: 730px;
    margin-top: 48px;
}

.footer {
    margin-top: 24px;
    padding-top: 24px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.margin-top-l {
    margin-top: 32px;
}

.margin-bottom-s {
    margin-bottom: 8px !important;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
  font-weight: normal;
}

.texthighlight {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.urlhighlight {
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.jumbotron p {
    font-size: 18px;
}

h2.media-heading {
    margin-bottom: 30px;
}