<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:replace="fragments/header :: header (name=${name})"></div>

	<div class="main-content general-content sticky-footer">
		<main id="main">
			<div class="section responsiveGrid"><div class="uoa-section"><div class="container">
				<div class="row">
					<div id="col-new" class="col-xs-12 col-md-2"></div>
					<div id="col-login" class="col-xs-12 col-md-8">
						<form action="#" th:action="@{/{apid}/auth/submit(apid=${apiid})}" th:object="${map}" method="post">
			<!-- original request parameters, to pass on Submit -->
			<input type="hidden" th:field="*{client_id}"/>
			<input type="hidden" th:field="*{response_type}"/>
			<input type="hidden" th:field="*{redirect_uri}"/>
			<input type="hidden" th:field="*{state}"/>
			<input type="hidden" th:field="*{scope}"/>
			<input type="hidden" th:field="*{use_fragment}"/>
			<!--div class="jumbotron" th:switch="${clientError}"-->
			<div class="auth-panel rounded" th:switch="${clientError}"><div class="panel-body">
				<div th:case="${null}" class="container" id="div_ask_user">
					<div class="row">
						<div><h2 class="text-center">Authorize application</h2></div>
					</div>

					<div class="row">
						<div class="col-md-1 col-xs-0"></div>
						<div class="col-md-10 col-xs-12">
							<span class="texthighlight" th:text="${appname}"></span>
							wants to access your profile. If you approve, authorization code will be sent to <span class="urlhighlight" th:text="${apphost}" th:title="${appurl}"></span>
							This code can be used to access information about you.
						</div>
					</div>
					<div class="row">
						<div class="alert alert-warning" role="alert" th:if="${! #strings.isEmpty(clientWarning)}" id="div_warn_callback_override">
							This application was registered with a different callback <span class="urlhighlight" th:text="${clientWarning}"></span>.
							Do not accept his request if you don't trust application which sent you here.
						</div>
					</div>

					<div th:if="${rememberme==true and #strings.isEmpty(clientWarning)}" >
						<hr/>
						<div th:if="${map.response_type=='token'}" class="row">
							<div class="col-md-1 col-xs-0"></div>
							<div class="col-md-6 col-xs-12">
								<label for="remember">Remember my decision</label>
									<!--p class="margin-bottom-s">Remember my decision:</p-->
								<select class="form-control" name="remember" id="remember">
									<option id="remember-not" value="remember-not"
										title="You will be prompted again next time you use the application">
										No, ask me again next time
									</option>
									<option id="remember-2weeks" value="remember-2weeks"
										title="If you want to continue to use the app after two weeks, you will be asked again.">
										For two weeks
									</option>
									<option id="remember-forever" value="remember-forever"
										title="You will not be asked to authorize this access again. You can revoke it any time from your Application pages">
										Until I revoke it
									</option>
								</select>
								<div style="font-size: 90%;">
									<a href="/self" target="_blank">View my tokens and applications</a>
								</div>
							</div>
						</div>

						<div th:if="${map.response_type=='code'}" class="row">
							<div class="col-md-1 col-xs-0"></div>
							<div class="col-md-10 col-xs-6">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="remember" value="remember-forever"/>
										Dont ask again
										<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top"
										   title="You can revoke this access at any time from your Application pages"></i>
									</label>
								</div>
								<div style="font-size: 90%;">
									<a href="/self" target="_blank">View my tokens and applications</a>
								</div>
							</div>
						</div>

						<hr/>
					</div>

					<div class="row">
						<div class="col-md-1 col-xs-0"></div>
						<div class="col-md-6 col-xs-12">
							<!--<button type="submit" class="btn btn-allow" value="Allow" name="actionAllow">Authorize application</button-->
							<button type="submit" class="cta cta--dark-blue-auth login-button" value="Allow" name="actionAllow">Authorize application</button>
						</div>
						<div class="col-md-4 col-xs-12">
							<button type="submit" class="cta btn btn--white" value="Deny" name="actionDeny">Deny</button>
						</div>
					</div>
				</div>


				<div th:case="noauth_api" id="div_api_noauth" class="container">
					<div class="row">
						<div><h2 class="text-center">Authorization Error</h2></div>
					</div>

					<div class="row">
						<div class="col-md-3 col-xs-12 auth-warn-image  mx-auto text-center">
							<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 col-xs-12">
							<p>Requested API access - OAuth2 - is not supported with this API. There could be two reasons for seeing this error:
								the client application you are using is out of date, or our API is not configured properly. We have logged this issue
								with our <a href="mailto:api-team@list.auckland.ac.nz">API Support Team</a> for investigation.</p>
						</div>
					</div>
				</div>

				<div th:case="unknown_api" id="div_error_api_not_found" class="container">
					<div class="row">
						<div><h2 class="text-center">Authorization Error</h2></div>
					</div>

					<div class="row">
						<div class="col-md-3 col-xs-12 auth-warn-image mx-auto text-center">
							<span>
							<i class="fa fa-question" aria-hidden="true"></i>
							</span>
						</div>
						<div class="col-md-9 col-xs-12">
							<p>This is a request for an unknown API - the link is broken or the API was decommissioned.
								If you believe this is a mistake, please contact our <a href="mailto:api-team@list.auckland.ac.nz">API Support Team</a>
								or report this problem to the application which sent you here.
							</p>
						</div>
					</div>
				</div>

				<div th:case="unknown_client" id="div_error_client_not_found" class="container">
					<div class="row">
						<div><h2 class="text-center">Authorization Error</h2></div>
					</div>

					<div class="row">
						<div class="col-md-3 col-xs-12 auth-warn-image  mx-auto text-center">
							<i class="fa fa-frown-o" aria-hidden="true"></i>
						</div>
						<div class="col-md-9 col-xs-12">
							<p>Sorry, application which sent you to this page is not registered with us. We've  blocked this request to keep you safe.</p>
						</div>
					</div>
				</div>

				<div th:case="callback_match" id="div_error_callback_nomatch" class="container">
					<div class="row">
						<h2 class="text-center">Authorization Error</h2>
					</div>

					<div class="row">
						<div class="col-md-1 col-xs-0"></div>
						<div class="col-md-10 col-xs-12">
							<p>We couldn't verify the identity of the calling application - mismatched callback url. We've blocked this request to keep you safe.
							You can report this error to the application which sent you here.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1 col-xs-0"></div>
						<div class="col-md-10 col-xs-12 alert alert-danger" role="alert">
							Application <span class="texthighlight" th:text="${appname}"></span>
							is registered as <span class="urlhighlight" th:text="${clientWarning}"></span>
							while current request wants to send the access code to <span class="urlhighlight" th:text="${appurl}"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1 col-xs-0"></div>
						<div class="col-md-10 col-xs-12">
							<a href="https://auckland.ac.nz" class="cta cta--dark-blue-auth">Home</a>
						</div>
					</div>

				</div>
			</div></div> <!-- end of panel -->


			<div class="row clear privacy-note" id="scopes_header" th:if="${scopes != null } and not ${scopes.size()==0}">
				<div class="col-sm-12 col-md-12 sectionheading" style="margin-top: 40px;">
					<h4 class="login-white">Requested access</h4>
				</div>
			</div>
			<div class="row" id="scopes_container">
				<div th:each="ascope: ${scopes}" class="col-sm-6">
					<div class="bs-callout" th:classappend="${ascope.warn} ? bs-callout-danger : bs-callout-primary">
						<h4 th:text="${ascope.key}"></h4>
						<p th:text="${ascope.value}"> </p>
					</div>
				</div>
			</div>

			<div class="accordion" th:if="${debug}" role="tablist" aria-multiselectable="true">

				<div class="card card-danger card-inverse container">
					<div class="card-header row" role="tab" id="headingOne">
						<h6 class="mb-0 login-white">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="login-white" aria-expanded="false" aria-controls="collapseOne">
								Debug services
							</a>
						</h6>
					</div>

					<div id="collapseOne" class="collapse row" role="tabpanel" aria-labelledby="headingOne">
						<div class="card-block">
							<div class="row">
								<div class="col-md-1 col-xs-0"></div>
								<div class="col-md-10 col-xs-12">
									<h4>Changing upi</h4>
									<p> You can override <code>upi</code> of  current user. Type new UPI and press Allow, Deny, or Enter Debug</p>
									<p><input type="text" th:field="*{user_id}"/></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1 col-xs-0"></div>
								<div class="col-md-10 col-xs-12">
									<h4>Debug mode</h4>
									<p> You can use Debug mode to test approval step-by-step. Before redirecting back to application, you can see Kong's response.</p>
									<p><button type="submit" class="cta btn btn--white" name="actionDebug" value="Debug" > Enter Debug</button></p>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>

		</form>
					</div>
				</div>
			</div></div></div>
		</main>
	</div>
	<!-- /container -->


	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>