<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div th:replace="fragments/header :: header (name=${name})"></div>

	<div class="container">
		<form action="#" th:action="@{/{apid}/auth/submit(apid=${apiid})}" th:object="${map}" method="post">
			<!-- original request parameters, to pass on Submit -->
			<input type="hidden" th:field="*{client_id}"/>
			<input type="hidden" th:field="*{response_type}"/>
			<input type="hidden" th:field="*{redirect_uri}"/>
			<input type="hidden" th:field="*{state}"/>
			<input type="hidden" th:field="*{scope}"/>
			<input type="hidden" th:field="*{use_fragment}"/>
			<!--div class="jumbotron" th:switch="${clientError}"-->
			<div class="panel panel-primary" th:switch="${clientError}"><div class="panel-body">
				<div th:case="${null}" id="div_ask_user">
					<h2>Authorize application</h2>
					<p>
						<span class="texthighlight" th:text="${appname}"></span>
						would like to have authorization to access your data or call services on your behalf.
						If you approve, authorization code will be sent to <span class="urlhighlight" th:text="${apphost}" th:title="${appurl}"></span>
						This code can be used to access information about you or other data as indicated by requested scopes.
					</p>

					<div class="alert alert-warning" role="alert" th:if="${! #strings.isEmpty(clientWarning)}" id="div_warn_callback_override">
						This application was registered with a different callback <span class="urlhighlight" th:text="${clientWarning}"></span>.
						Do not accept his request if you don't trust application which sent you here.
					</div>

					<div th:if="${rememberme==true and #strings.isEmpty(clientWarning)}" class="row">
						<div class="well col-xs-8">
							<p class="margin-bottom-s">Remember this decision:</p>
							<div>
								<label for="remember-forever">
									<input type="radio" name="remember" id="remember-forever" value="until-revoked" checked="checked"/>
									remember this decision until I revoke it
									<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top"
									   title="You can revoke this access at any time from your Application pages"></i>
								</label>
							</div>
							<div>
								<label for="remember-day">
									<input type="radio" name="remember" id="remember-day" value="one-hour"/>
									remember this decision for one day
									<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top"
									   title="The app will be able to use this access for 1 day only. You will be prompted again if app needs access after this period."></i>
								</label>
							</div>
							<div>
								<label for="remember-not">
									<input type="radio" name="remember" id="remember-not" value="none"/>
									prompt me again next time
									<i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top"
									   title="You will be prompted again if app needs access."></i>
								</label>
							</div>
							<div style="margin-top: 15px; text-align: center;">
								<a href="/self" target="_blank">View my tokens and applications</a>
							</div>
						</div>
					</div>


					<div class="flex-space-between">
						<button type="submit" class="btn btn-warning" value="Deny" name="actionDeny">Deny</button>
						<button type="submit" class="btn btn btn-success" value="Allow" name="actionAllow">Allow</button>
					</div>
				</div>
				<div th:case="noauth_api" id="div_api_noauth">
					<div class="media-left">
						<i class="fa fa-hand-paper-o" aria-hidden="true"></i>
					</div>
					<div class="media-body">
						<h2 class="media-heading">Authorize application</h2>
						<p>Requested API access (OAuth2) is not supported with this API. There could be two reasons for seeing this error:
							the client application you are using is outdated or our API is not configured properly. We have logged this issue
							with our support team for investigation.</p>
					</div>
				</div>
				<div th:case="unknown_api" id="div_error_api_not_found">
					<div class="media-left">
						<i class="fa fa-question" aria-hidden="true"></i>
					</div>
					<div class="media-body">
						<h2 class="media-heading">Authorize application</h2>
						<p>This is a request for an unknown API. The link is broken or the API was decommissioned. Please report this error to the application developer.</p>
					</div>
				</div>
				<div th:case="unknown_client" id="div_error_client_not_found">
					<div class="media-left">
						<i class="fa fa-frown-o" aria-hidden="true"></i>
					</div>
					<div class="media-body">
						<h2 class="media-heading">Authorize application</h2>
						<p>Sorry, application which sent you to this page is not registered with us. We've  blocked this request to keep you safe.</p>
					</div>
				</div>
				<div th:case="callback_match" id="div_error_callback_nomatch">
					<h2>Authorize application</h2>
					<p>We couldn't verify identity of the calling application - mismatched callback url. We've blocked this request to keep you safe.
					</p>
					<div class="alert alert-danger" role="alert">
						Application <span class="texthighlight" th:text="${appname}"></span>
						is registered as <span class="urlhighlight" th:text="${clientWarning}"></span>
						while current request wants to take you to <span class="urlhighlight" th:text="${appurl}"></span>
					</div>
				</div>
			</div></div>

			<div class="row"  th:if="${scopes != null } and not ${scopes.size()==0}">
				<div class="col-sm-12" style="margin-top: 40px;">
					<h4 class="scopes-header">Requested scopes and their description</h4>
				</div>
			</div>
			<div class="row">
				<div th:each="ascope: ${scopes}" class="col-sm-6">
					<div class="bs-callout" th:classappend="${ascope.warn} ? bs-callout-danger : bs-callout-primary">
						<h4 th:text="${ascope.key}"></h4>
						<p th:text="${ascope.value}"> </p>
					</div>
				</div>
			</div>

			<div class="panel panel-danger" th:if="${debug}">
				<div class="panel-heading">Debug services</div>
				<div class="panel-body">

					<div class="panel">
						<div class="panel-body">
						<h4>Changing upi</h4>
						<p> You can override <code>upi</code> of logged-in user</p>
						<p><input type="text" th:field="*{user_id}"/></p>
						</div>
					</div>


					<div class="panel">
						<div class="panel-body">
						<h4>Debug mode</h4>
						<p> You can use Debug mode to test approval step-by-step. Before redirecting back to application, you can see Kong's response.</p>
						<p><button type="submit" class="btn" name="actionDebug" value="Debug" > Enter Debug</button></p>
						</div>
					</div>
				</div>
			</div>

		</form>

	</div>
	<!-- /container -->


	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>