<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/header :: header (name=${name})"></div>

<div class="main-content general-content sticky-footer">
	<main id="main"><div class="section responsiveGrid"><div class="uoa-section"><div class="container">

		<div class="row">
			<div class="offset-md-2 offest-xs-0 col-md-8 col-xs-12">
				<div class="alert alert-warning" role="alert" >
					This service is currently unavailable.
				</div>
			</div>
		</div>

	</div></div></div>
	</main>
</div>


<!-- /container -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>