<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Debug</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'Authenticated user id: ' + ${user_id}" />
<h3>Form submit:</h3>
<p th:each="fm: ${map.toProps()}"><span th:text="${fm.key}+' - '+${fm.value}"></span></p>
<h3>Kong request:</h3>
<p th:text="'Provision key '+ ${provision_key}"></p>
<p th:text="'Submit url '+ ${submitTo}"></p>
<p th:text="'Kong response '+ ${kongResponse}"></p>


</body>
</html>